.git
.worktrees
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
ui
web/node_modules
web/dist
web/.amplify
node_modules
logs
*.md
docs
tests
.cursor
.env
.env.*
wren
.github
*.png
*.gif
deploy
